.untimed {
	color: red;
}
.timed {
	color: rgb(23, 230, 23);
}
ul {
	width: 300px;
	text-align: left;
	margin: auto;
}

.DeathKnight {
	color: #c41e3a;
}
.DemonHunter {
	color: #a330c9;
}
.Druid {
	color: #ff7c0a;
}
.Hunter {
	color: #aad372;
}
.Mage {
	color: #3fc7eb;
}
.Monk {
	color: #00ff98;
}
.Paladin {
	color: #f48cba;
}
.Priest {
	color: #ffffff;
}
.Rogue {
	color: #fff468;
}
.Shaman {
	color: #0070dd;
}
.Warlock {
	color: #8788ee;
}
.Warrior {
	color: #c69b6d;
}

/* Affixes dificulties */

.easy {
	color: #50fa7b;
}

.med {
	color: #ffb86c;
}

.hard {
	color: #f55;
}
