@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

.App {
  text-align: center;
}

body {
  background-color: #282c34;
  color: white;
}

.form-container {
  display: flex;
  width: 380px;
  flex-direction: column;
  align-items: center;
  margin: 35vh auto;
}

.title {
  text-align: center;
  font-size: 1.7em;
  color: #f1c40f;
  font-weight: bold;
}

.mainForm {
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  font-family: 'Rajdhani', sans-serif;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 1.5em;
  padding: 0.25em 0.5em 0.3125em;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  border-radius: 0.25em;
  background: transparent;
  transition: all 0.1s;
}

input:focus {
  outline: none;
  color: rgba(255, 255, 255, 0.75);
  border-color: rgba(255, 255, 255, 0.75);
}

.buttonMain {
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  border-radius: 0.25em;
  padding: 0.2em 0.3em 0.2em;
  margin: 15px auto;
  background: transparent;
  cursor: pointer;
  transition: all 0.1s;
  width: 90px;
}

button:hover,
button:focus {
  background-color: #383f4e;
  outline: none;
  color: rgba(255, 255, 255, 0.75);
  border-color: rgba(255, 255, 255, 0.75);
}
